extends ../layout


block content
    h1 Edit Product
    form(action="/products/edit/"+product._id, method="post")
        div(class="form-group")
            lable(for="name") J. Cloth Type
            input(type="text" ,class="form-control" ,id="name" ,name="name" ,value= product.name)
        div(class="form-group")
            lable(for="price") J. Cloth Price
            input(type="text" ,class="form-control" ,id="price" ,name="price" ,value= product.price)
        div(class="form-group")
            lable(for="city") City
            input(type="text" ,class="form-control" ,id="city" ,name="city" ,value= product.city)
        div(class="form-group")
            lable(for="location") Location
            input(type="text" ,class="form-control" ,id="location" ,name="location" ,value= product.location)
        div(class="form-group")
            lable(for="detail") Custom Details
            input(type="text" ,class="form-control" ,id="detail" ,name="detail" ,value= product.detail)
        input(type="submit" ,class="btn btn-primary")
    